<% include ../partials/loginheader %>
<!--<div class="container">-->
<!--<h3>Register </h3>-->
<!--<form action="/register" method="POST">-->
<!--    <input type="text" name ="username" placeholder="Username">-->
<!--    <input type="password" name="password" placeholder="Password">-->
<!--    <button>Register !!</button>-->
<!--</form>-->
<!--<a href="/login">login here</a>-->
<!--</div>-->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/login"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <a href="/register"><h2 class="active  ">Sign Up </h2></a>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://image.flaticon.com/icons/svg/1256/1256661.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/register" method="POST">
      <i class="fas fa-user fa-2x"></i>
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" required>
      <br>
      <i class="fas fa-lock fa-2x"></i>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
      <button class="fadeIn fourth btn btn-lg btn-primary">Sign Up</button>
      <!--<input type="submit" class="fadeIn fourth" value="Log In">-->
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <!-- <a class="inactive underlineHover" href="#">Forgot Password?</a> -->
      <a href="/blogs"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></a>
    </div>

  </div>
</div>
<% include ../partials/footer %>